*{
	padding: 0px;
	margin: 0px;
}
body{
	background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
	background-repeat: no-repeat;
	height: 100vh;
}
.subscribe{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 15px;
}
input{
	width: 40rem;
	height: 2em;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px solid black;
	border-left: 0px;
	border-radius: 15px;
	outline: none;
	padding-left: 25px;
	font-size: 25px;
	color: black;
}
button{
	padding: 15px;
	width: 10em;
	border-radius: 3px;
	border: none;
	height: auto;
	font-size: 20px;
	font-weight: bolder;
	background-color: red;
	text-align: center;
	cursor: pointer;
	color: #fff;
	transition-duration: 0.5s;
}
button:hover{
	background-color: #fff;
	color: black;
	border-radius: 8px;
}